body {
    background-image: url("Images/olga.jpg");
    font-weight: bolder;
  
   }

img {
    max-height: 300px;
    max-width: 400px;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;

}   

p {
    float: left;
    margin: 75px;
    padding-top: 0;
  
}

.aboutme {
    padding-top: 50px;
}

.construction {
   text-align: center;
   margin-top: 200px;
   font-size: 75px;

}
form {
    margin: 100px;

}
button{
    color: green;
    margin-top: 50px;
   
}